@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;

body {
  @apply w-full min-h-screen
  font-body
  bg-cover
  bg-no-repeat
  bg-gradient-to-br from-rose-600 to-purple-700;
}

.wrapper {
  @apply w-11/12 max-w-3xl mx-auto border border-red-700;
}

.btn {
  @apply my-0 mx-1 py-2 px-4 text-center uppercase font-bold border rounded-lg outline-none
  hover:opacity-80
  focus:opacity-80
  active:opacity-80
  transition-all;
}
.btn-pages {
  @apply bg-indigo-700 text-white  border-white;
}
.btn-cta {
  @apply bg-cyan-600 text-cyan-50 border-cyan-50;
}

.socials {
  @apply mx-1 text-4xl inline-block align-middle text-black;
}

.header {
  @apply w-full p-2 mb-4
  flex justify-end items-center
  bg-slate-900/30
  text-gray-50
  backdrop-blur-lg;
}

@tailwind components;
@tailwind utilities;
