@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;

body {
  @apply w-full min-h-screen
  font-body
  bg-cover
  bg-no-repeat
  bg-gradient-to-br from-rose-600 to-purple-700;
}

.wrapper {
  @apply w-11/12 max-w-3xl mx-auto;
}

.btn {
  @apply my-0 mx-1 py-2 px-4
  text-center uppercase font-bold 
  border rounded-lg outline-none
  hover:opacity-80
  focus-visible:opacity-80
  active:opacity-80
  transition-all;
}
.btn-pages {
  @apply bg-indigo-700 text-white  border-white;
}
.btn-cta {
  @apply bg-cyan-600 text-cyan-50 border-cyan-50;
}
.btn-close {
  @apply mb-1  text-white text-xl border-white/30;
}

.socials {
  @apply mx-2 text-4xl inline-block align-middle text-white;
}

.header {
  @apply w-full p-2 mb-4
  flex justify-center sm:justify-end items-center
  bg-slate-900/40
  text-gray-50
  backdrop-blur-lg;
}

.password-container {
  @apply w-3/4 max-w-3xl my-4 mx-auto py-10 px-4
  text-center rounded-lg
  bg-slate-700/30;
}
.password {
  @apply break-words font-headings font-bold text-white text-base sm:text-xl;
}

.input-pwd {
  @apply w-2/4 my-4;
}

.input-text {
  @apply w-2/4 my-4 py-2 px-4
  rounded-lg outline-none border
  focus:border-slate-700;
}

.label {
  @apply ml-1  text-white font-semibold hover:cursor-pointer;
}
.checkbox {
  @apply hover:cursor-pointer;
}

.flex-center {
  @apply flex justify-center items-center;
}

@tailwind components;
@tailwind utilities;
